<nav class="nav">
  <div class="container flex-center">
    <ul class="flex-center list-pages">
      <li <% if (title === 'Home') {%>class="active" <% } %> ><a href="/home">Home</a></li>
      
      <li <% if (title === 'About') { %>class="active" <% } %> ><a href="/about">About Us</a></li> 

      <li class="nav--hover">Collection</li>

      <ul class="nav__sub-menu">
        <li>
          <a href="/palladium">
            <div class="nav__img"><img src="/images/nav-palladium.jpg" alt="Palladium"></div>
            <p>palladium</p>
          </a>
        </li>

        <li>
          <a href="/converse">
           <div class="nav__img"><img src="/images/nav-converse.jpg" alt="Converse"></div> 
            <p>converse</p>
          </a>
        </li>

        <li>
          <a href="/vans">
            <div class="nav__img"><img src="/images/nav-vans.jpg" alt="Vans"></div>
            <p>VANS</p>
          </a>
        </li>
      </ul> 
    </ul>

    <div class="nav__logo">
      <%- include('./logo'); -%>
    </div>

    <ul class="flex-center">
      <li>
        <a href=""><img src="/icon/loupe.svg" alt="Search" class="icon" /></a>
      </li>

      <li>
        <a href="wishlist" class="flex-center"
          ><img src="/icon/like.svg" alt="Wish list" class="icon" /><span
            class="nav__notification" id="wishlist-number"
            ><% if (session.wishilist && typeof session.whilist != 'underfined') {%>
              <%= session.wishlist.totalQty %>
            <%} else {%>
              <%= 0%>
            <%}%></span
          ></a
        >
      </li>

      <li>
        <a href="cart" class="flex-center"
          ><img src="/icon/shopping-bags.svg" alt="Cart" class="icon" /><span
            class="nav__notification" id="cart-number"
            >
            <% if (typeof session.cart != 'undefined') {%>
              <%= session.cart.totalQty %>
            <%} else {%>
              <%= 0%>
            <%}%></span
          ></a
        >
      </li>

      <li>
        <a href="/account/show/" class="nav__button nav__account"></a>
        <% if (session.user && typeof session.user != 'undefined') {%>
          <a href="/account" class="nav__button"><%= session.user.userName %></a>
          <a href="/logout" class="nav__button">Log out</a>
        <% } else { %>
          <a href="/signIn" class="nav__button" style = "border: 1px solid #FF7D00;border-radius: 5px; padding: 5px">Sign In</a>
          <a href="/signUp" class="nav__button">Sign up</a>
        <% } %>
        
      </li>
    </ul>
  </div>
</nav>
