<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../template/header.ejs'); -%>
</head>

<body>
  <div class="d-flex h-100">
    <div class="col-2 pl-0 h-100 w-25 fixed-top">
      <%- include('../../template/sidebar.ejs'); -%>
    </div>
    <div class="col-12 w-100 pr-0">
      <%- include('../../template/navbar.ejs'); -%>
        <div class="col-10 ml-auto">
          <div class="d-flex justify-content-between pt-3">
            <h1 class="text-primary text-uppercase">Add product</h1>
          </div>
          <hr />
          <div class="ml-3">
            <form enctype="application/x-www-form-urlencoded" class="needs-validation" action="api/product/add"
              method="POST">
              <%- include('../../template/_productFormFields.ejs'); -%>
                <button class="btn btn-success pt-2 md-2 mb-5 submit" type="submit" name="submit" id = "submitBtn">
                  Add
                </button>
            </form>
          </div>
        </div>
    </div>
  </div>
</body>
<%- include('../../template/footer.ejs'); -%>
<script type = "text/javascript">
  $("#submitBtn").click(async function(event){
    event.preventDefault();
    let shoeSizeArray = [];
    $("#shoeSizeFrom input:checkbox:checked").each(function(){
        shoeSizeArray.push($(this).val());
    });
    var selectedCodition = $('input[name="pIsNew"]:checked').val();
    var inputData = {
      name: $("#productName").val(), 
      description:  $("#productShortDesc").val(),
      detail: $("#productDesc").val(),
      price: $("#productPrice").val(),
      category: $("#productCate").val(),
      sale: $("#pSaleOff").val(),
      condition: selectedCodition,
      quantity: $("#quantity").val(),
      shoeSize: shoeSizeArray
    };
    console.log(shoeSizeArray);
    console.log(selectedCodition);
    console.log(inputData);
    // Dùng ajax lưu vào db
    // await axios.post("/admin/api/product/add", {
    //   name: $("#productName").val(), 
    //   description:  $("#productShortDesc").val(),
    //   detail: $("#productDesc").val(),
    //   price: $("#productPrice").val(),
    //   category: $("#productCate").val(),
    //   sale: $("#pSaleOff").val(),
    //   condition: selectedCodition,
    //   quantity: $("#quantity").val(),
    //   shoeSize: shoeSizeArray
    // }).then(function (res) {
    //   alert("Successfully added");
    // }).catch(function(err) {
    //   alert("An error occured")
    // })
    $.ajax({
            url: "/admin/api/product/add",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(inputData)
        })
        // If API returned success then here
        .then( result => {
            // Message to notify success submition
            alert("Successfully added.");
            return;
        })
        // If API returned error then here
        .catch ( err => {
            // Notify in case some error occurred
            alert("An error occurred.");
            return;
        });
  });
</script>
</html>