<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
    <div class="detail">
      <div class="container">
        <div class="detail__container">
          <nav>
            <ul class="breadcrumb">
              <li class="breadcrumb-items">
                <a href="home">Home</a>
              </li>
              <span>&ThickSpace;&#62;&ThickSpace;</span>
              <li class="breadcrumb-item active"><%= product.name %> </li>
            </ul>
          </nav>
        </div>
        <div class="detail__container">
          <div class="detail__row">
            <div class="detail__product-image">
              <img src="<%= product.coverImagePath %>" alt="item-image" />
            </div>
            <div class="detail__productdetails">
              <h3 class="detail__product-name"><%= product.name %></h3>
              <span class="detail__price"><%= product.price%>&dollar;</span>
              <span class="detail__stock">
                <% if (product.quantity > 0) { %>
                <b>In stock</b>
                <% } else  { %>
                <b>Out stock</b> 
                <% } %>
                <span> SKU PR_ </span>
              </span>
              <div class="detail__qty-add-cart">
                <label for="detail__qty"><%= product.quantity %></label>
                <input type="number" placeholder="1" id="detail__qty" />
                <div class="btn-add-cart" href="cart">Add to cart</div>
              </div>
              <div class="detail__buttons">
                <div class="btn-add-wishlist" href="wishlist">
                  Add to wish list
                </div>
              </div>
              <p class="detail__final"></p>
            </div>
          </div>
          <div class="detail__area">
            <div class="detail__container">
              <div class="detail__info">Product Details</div>
              <div class="detail__content">
                <div class="detail__items">
                  <div class="detail__items_container">
                    <%= product.detail %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper">
            <div class="rating-box">
                <div class="rating-header">
                    <div class="title">Over rating</div>
                    <div class="info-rating">
                        <div class="start-count">
                            <span class="avg">4.9</span>OUT OF 5
                        </div>
                        <div class="stars">
                            <div class="avg-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="rating-count">
                                <div class="count">300</div>
                                ratings
                            </div>
                        </div>
                        <!-- end stars -->
                    </div>
                    <!-- end info rating -->
                    <div class="rating-bar">
                        <div class="bar-item">
                            <div class="star">
                                5 <i class="fas fa-star"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-line" style="width: 15%;"></div>
                            </div>
                            <div class="percent">15%</div>
                        </div>
                        <div class="bar-item">
                            <div class="star">
                                4 <i class="fas fa-star"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-line" style="width: 67%;"></div>
                            </div>
                            <div class="percent">67%</div>
                        </div>
                        <div class="bar-item">
                            <div class="star">
                                3 <i class="fas fa-star"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-line" style="width: 67%;"></div>
                            </div>
                            <div class="percent">67%</div>
                        </div>
                        <div class="bar-item">
                            <div class="star">
                                2 <i class="fas fa-star"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-line" style="width: 67%;"></div>
                            </div>
                            <div class="percent">67%</div>
                        </div>
                        <div class="bar-item">
                            <div class="star">
                                1 <i class="fas fa-star"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-line" style="width: 13%;"></div>
                            </div>
                            <div class="percent">13%</div>
                        </div>
                    </div>
                    <!-- end rating bar -->
                </div>
                <!-- end rating header -->
                <div class="review-box ">
                    <div class="review-header">
                        <div class="count-review">
                            <span>13</span>Review
                        </div>
                        <div class="txt btn-write">Write a review</div>
                    </div>
                    <div class="review-content">
                      <% feedbacks.forEach((feedback)=>{ %>
                        <div class="user-review">
                          <div class="user-rating">
                              <div class="username"><%= feedback.username %></div>
                              <div class="stars"> 
                                
                              </div>
                          </div>
                          <!-- end user rating -->
                          <div class="comment-content">
                            <%= feedback.feedback %>
                          </div>
                          <!-- <time datetime = "${time}"  title = "${time}">${time}</time> -->
                      </div>
                    <% }) %>
                    </div>
                    
                </div>
                <!-- end review box -->
            </div>
            <!-- end rating box -->
            <div class="feedback-user ">
                <div class="feedback-header">
                    <div class="close-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="title">Send us your feedback!</div>
                    <div class="txt">
                        Do you have a suggestion for this course? Let us know in the field below
                    </div>
                </div>
                <div class="feedback-content">
                    <div class="rating">
                        <div class="title">
                            How was your experience?
                        </div>
                        <div class="stars">
                            <i class="fas fa-star fa-fw" data-rating="1"></i>
                            <i class="fas fa-star fa-fw" data-rating="2"></i>
                            <i class="fas fa-star fa-fw" data-rating="3"></i>
                            <i class="fas fa-star fa-fw" data-rating="4"></i>
                            <i class="fas fa-star fa-fw" data-rating="5"></i>
                        </div>
                    </div>
                    <!-- end rating -->
                    
                      <div class="form">
                        <div class="form-input">
                            <label for="name">Your name</label>
                            <input type="text" placeholder="Enter your name" id="name" name="username">
        
                        </div>
                        <div class="form-input">
                            <label for="feedback">Your feedback</label>
                            <textarea name="feedback" id="feedback" cols="30" rows="8" placeholder="Your feedback here...W"></textarea>
                        </div>
                    </div>
                    <!-- end form -->
                    <button class="submit" type="submit" slug =<%=slug%> >Send feedback</button>
                    
                    
                </div>
                
            </div>
            <!-- end feedback user -->
        </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
  </body>
</html>
