<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
    <div class="brandinfo">
      <div class="container">
        <div class="brandinfo__container">
          <nav>
            <ul class="breadcrumb">
              <li class="breadcrumb-items">
                <a href="home">Home</a>
              </li>
              <span>&ThickSpace;&#62;&ThickSpace;</span>
              <li class="breadcrumb-item active">Vans</li>
            </ul>
          </nav>
        </div>
        <div class="brandinfo_container">
          <% if(title == "Palladium") {%>
            <div class="brandinfo__img-palla">
              <img src="images/palladium-logo.jpg" />
            </div>
          <% }  %> 
          
            <% if(title == "Converse"){ %>
            <div class="brandinfo__img-cv">
              <img src="images/converse-logo.png" />
            </div>
          <% } %> 

          <% if(title == "Vans") {%>
            <div class="brandinfo__img-vans">
              <img src="images/vans-logo.png" />
            </div>
          <% } %> 
          
          <% if(title == "Converse") {%>
          <div class="brandinfo__brandtitle">
            Palladium is one of most favorite brand for teenagers and kids. Not
            only favourable price, but also high quality, Palladium promises
            bring out long term journey too.
          </div>

          <% } %> 

          <% if(title == "Vans") {%>
            <div class="brandinfo__brandtitle">
              Palladium is one of most favorite brand for teenagers and kids. Not
              only favourable price, but also high quality, Palladium promises
              bring out long term journey too.
            </div>
            <% } %> 

          <% if(title == "Palladium") {%>
            <div class="brandinfo__brandtitle">
              Palladium is one of most favorite brand for teenagers and kids. Not
              only favourable price, but also high quality, Palladium promises
              bring out long term journey too.
            </div>
          <% } %> 

          <div class="brandinfo__filter">
            <div class="brandinfo__filter-label">Sort by</div>
            <button class="brandinfo__filter-btn">Popular</button>
            <button class="brandinfo__filter-btn">Newest</button>
            <button class="brandinfo__filter-btn">Most favorite</button>
            <div class="brandinfo__filter-selection-container">
              <div class="brandinfo__filter-selection">Price</div>
              <i
                class="brandinfo__filter-selection__icon fas fa-angle-down"
              ></i>
              <ul class="brandinfo__filter-selection-container__option">
                <li class="brandinfo__filter__option__item">
                  <a class="brandinfo__select-input" href="#">Lowest</a>
                </li>
                <li class="brandinfo__filter__option__item">
                  <a class="brandinfo__select-input" href="#">Highest</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="brandinfo__float">
          <div class="brandinfo__tag-container">
            <div class="brandinfo__tag-size">SIZE:</div>
            <div class="brandinfo__tag">
              <p>39</p>
              <p>40</p>
              <p>41</p>
            </div>
            <div class="brandinfo__tag-size">COLOR:</div>
            <div class="brandinfo__tag">
              <p>BLACK</p>
              <p>WHITE</p>
              <p>YELLOW</p>
            </div>
            <div class="brandinfo__tag-size">STYLES:</div>
            <div class="brandinfo__tag">
              <p>OLD SKOOL</p>
              <p>SLIP ON</p>
              <p>ORIGINAL CLASSIC</p>
            </div>
          </div>

          <div class="brandinfo__product">
            <div class="brandinfo__product-container">
              <div class="product">
                <div class="row d-flex">
                  <% products.forEach(products=> { %>
                  <div href="#" class="product__item">                     
                       <% if(!products.condition) 
                      { %>
                        <span class="product__new">NEW</span>   
                        <% }
                        else  
                          {if (products.sale >0)
                          %>
                        <span class="product__sale">SALE</span>
                          <% }   %>    
                    <a class="product__image">
                      <img src="<%= products.coverImagePath %>" alt="" />
                    </a>
                    <div class="product__summary">
                      <div class="product__info">
                        <p class="product__name"><%= products.name %></p>
                        <p class="product__price">&dollar;<%= products.price %></p>
                      </div>
                      <div class="product__action d-flex">
                        <span class="product__add">ADD TO CART</span>
                        <div class="product__action--right">
                          <span class="product__view"
                            ><i class="far fa-eye product__icon"></i
                          ></span>
                          <span class="product__love"
                            ><i class="far fa-heart product__icon"></i
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>                
                </div>

                
              </div>
            </div>
            <div class="brandinfo__paginationcontainer">
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
  </body>
</html>
