<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
      <div class="container">
        <div class="wishlist">
          <div class="wishlist__title">
            <h3 class="wishlist__title__text recent-title">Recently Watched</h3>
            <h3 class="wishlist__title__text wishlist-title">Wishlist</h3>
          </div>
          <div class="wishlist__slide">
            <input type="radio" name="slide" id="recent" checked>
            <input type="radio" name="slide" id="wishlist">
            <label for="recent" class="wishlist__slide__control recent">Recently Watched</label>
            <label for="wishlist" class="wishlist__slide__control wish">Wishlist</label>
            <div class="wishlist__slide__tab"></div>
          </div>
          <div class="wishlist__page">
            <% if (recentProducts) { %>
            <table class="wishlist__table recent">
              <thead>
                <th class="wishlist__table__header">Product</th>
                <th class="wishlist__table__header">Price</th>
                <th class="wishlist__table__header"></th>
                <th class="wishlist__table__header"></th>
              </thead>
              <tbody>
                <% recentProducts.forEach(product => { %>
                  <tr>
                    <td>
                      <div class="wishlist__info">
                        <img src="<%= product.coverImagePath %>" alt="<%= product.name %>" />
                        <div>
                          <p class="wishlist__product-name">
                            <%= product.name %>
                          </p>
                        </div>
                      </div>
                    </td>
      
                    <td>
                      <span class="wishlist__product-price"
                              >$<%= product.price %></span
                            >
                    </td>
      
                    <td>
                      <button class="wishlist__addcart add-to-cart-button" data-id="<%= product._id %>">
                        <i class="fas fa-shopping-cart"></i> Add to cart
                      </button>
                    </td>
      
                    <td>
                      <button class="remove-from-wishlist" data-id="<%= product._id %>">
                        <i class="fas fa-trash-alt icon-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <% } else { %>
              <p class="recent wishlist__noti">No items!</p>
            <% } %>
            <% if (wishlistProducts) { %>
                <table class="wishlist__table wish">
                  <thead>
                    <th class="wishlist__table__header">Product</th>
                    <th class="wishlist__table__header">Price</th>
                    <th class="wishlist__table__header"></th>
                    <th class="wishlist__table__header"></th>
                  </thead>
                  <tbody>
                    <% wishlistProducts.forEach(product => { %>
                    <tr>
                      <td>
                        <div class="wishlist__info">
                          <img src="<%= product.coverImagePath %>" alt="<%= product.name %>" />
                          <div>
                            <p class="wishlist__product-name">
                              <%= product.name %>
                            </p>
                          </div>
                        </div>
                      </td>
        
                      <td>
                        <span class="wishlist__product-price"
                                >$<%= product.price %></span
                              >
                      </td>
        
                      <td>
                        <button class="wishlist__addcart add-to-cart-button" data-id="<%= product._id %>">
                          <i class="fas fa-shopping-cart"></i> Add to cart
                        </button>
                      </td>
        
                      <td>
                        <button class="remove-from-wishlist" data-id="<%= product._id %>">
                          <i class="fas fa-trash-alt icon-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
            <% } else { %>
              <p class="wish wishlist__noti">No items!</p>
            <% } %>
          </div>
        </div>
      </div>
    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
    <script>
      $("label.wish").on("click",function() {
        $(".recent-title,.wishlist__page .recent").css("margin-left","-50%")
      })
      $("label.recent").on("click",function() {
        $(".recent-title, .wishlist__page .recent").css("margin-left","0%")
      })
    </script>
  </body>
</html>
